<form action="/users/login" method="POST">
  <div class="container mb-5">
    <div class="row justify-content-center">
      <div class="card card-body col-md-5 ">
        <h1>Login</h1>
        {{> messages}}
        <div>
          <label for="email">E-mail</label>
          <input type="text" name="email" id="email" value="{{{email}}}" placeholder="E-mail" class="form-control mb-3">

          <label for="password">Password</label>
          <input type="password" name="password" id="password" value="{{{password}}}" placeholder="Password"
            class="form-control mb-3">
        </div>

        <button type="submit" class="btn btn-success mb-2">確認</button>
        <a href="/auth/facebook" class="btn btn-primary mb-2">Facebook登入</a>

        <p>
          No account? <a href="/users/register">Register Now!</a>
        </p>
      </div>
    </div>
  </div>
</form>